<footer class="footer bg-dark text-center py-2 mt-auto">
  <div
    class="container d-flex flex-column flex-md-row justify-content-center align-items-center gap-3"
  >
    <span class="small text-light mb-0">
      &copy; <%= new Date().getFullYear() %> NomadicFlames by Arjun Singh Payal
    </span>
    <div class="d-flex align-items-center gap-3">
      <a
        href="https://github.com/ArjunSinghPayal"
        target="_blank"
        class="text-light"
        title="GitHub"
      >
        <i class="bi bi-github fs-5"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/arjun-singh-payal-2384b0244/"
        target="_blank"
        class="text-light"
        title="LinkedIn"
      >
        <i class="bi bi-linkedin fs-5"></i>
      </a>
      <a
        href="https://www.instagram.com/arjun.s.payal?igsh=MXI1eWpyM2pjcHFuNw=="
        target="_blank"
        class="text-light"
        title="Instagram"
      >
        <i class="bi bi-instagram fs-5"></i>
      </a>
    </div>
  </div>
</footer>
